@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: "Inter", sans-serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* button */
  --color-background-button-primary-hover: var(--color-grey-600);
  --color-background-button-primary-pressed: var(--color-grey-900);

  --color-background-button-uncontained-hover: var(--color-grey-50);
  --color-background-button-uncontained-pressed: var(--color-grey-100);

  --color-background-button-secondary-hover: var(--color-grey-100);
  --color-background-button-secondary-pressed: var(--color-grey-200);

  /* inputs */
  --color-button-ring: var(--color-blue-500);

  --color-field-hover: var(--color-grey-900);

  --color-background-field-disabled: var(--color-grey-50);
  --color-border-field-disabled: var(--color-grey-500);
  --color-border-field-default: var(--color-grey-500);

  /* badges */
  --color-background-neutral: var(--color-white);
  --color-background-informational: var(--color-blue-100);
  --color-background-success: var(--color-green-100);
  --color-background-warning: var(--color-amber-100);
  --color-background-error: var(--color-red-100);

  --color-border-neutral: var(--color-grey-200);
  --color-border-informational: var(--color-blue-500);
  --color-border-success: var(--color-green-500);
  --color-border-warning: var(--color-amber-500);
  --color-border-error: var(--color-red-500);

  --color-text-neutral: var(--color-grey-700);
  --color-text-informational: var(--color-blue-500);
  --color-text-success: var(--color-green-900);
  --color-text-warning: var(--color-amber-900);
  --color-text-error: var(--color-red-600);

  /* spinner */
  --color-spinner: var(--color-grey-600);

  /* checkbox */
  --color-border-form-control-default: var(--color-grey-500);
  --color-border-form-control-hover: var(--color-grey-900);
  --color-border-form-control-disabled: var(--color-grey-500);

  --color-background-form-control-disabled: var(--color-grey-100);
  --color-background-form-control-disabled-checked: var(--color-grey-500);
  --color-text-form-control-disabled-checked: var(--color-grey-500);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --color-grey-50: rgba(245, 245, 245, 1);
  --color-grey-100: rgba(235, 235, 235, 1);
  --color-grey-200: rgba(219, 219, 219, 1);
  --color-grey-300: rgba(201, 201, 201, 1);
  --color-grey-400: rgba(171, 171, 171, 1);
  --color-grey-500: rgba(148, 148, 148, 1);
  --color-grey-600: rgba(99, 99, 99, 1);
  --color-grey-700: rgba(77, 77, 77, 1);
  --color-grey-800: rgba(43, 43, 43, 1);
  --color-grey-900: rgba(15, 15, 15, 1);

  --color-blue-900: rgba(0, 45, 128, 1);
  --color-blue-500: rgba(0, 86, 241, 1);
  --color-blue-300: rgba(148, 185, 255, 1);
  --color-blue-100: rgba(235, 242, 255, 1);

  --color-amber-900: rgba(149, 104, 14, 1);
  --color-amber-500: rgba(255, 182, 13, 1);
  --color-amber-300: rgba(250, 221, 153, 1);
  --color-amber-100: rgba(255, 244, 219, 1);

  --color-green-900: rgba(11, 98, 36, 1);
  --color-green-500: rgba(52, 168, 83, 1);
  --color-green-100: rgba(231, 249, 233, 1);

  --color-red-900: rgba(128, 0, 0, 1);
  --color-red-600: rgba(192, 0, 0, 1);
  --color-red-500: rgba(221, 49, 49, 1);
  --color-red-300: rgba(255, 148, 148, 1);
  --color-red-100: rgba(255, 235, 235, 1);

  --radius: 0.625rem;
  --background: var(--color-white);
  --foreground: oklch(0.145 0 0);
  --card: var(--color-white);
  --card-foreground: oklch(0.145 0 0);
  --popover: var(--color-white);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--color-grey-900);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-grey-50);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: var(--color-grey-50);
  --muted-foreground: oklch(0.556 0 0);
  --accent: var(--color-grey-50);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--color-grey-100);
  --input: var(--color-grey-100);
  --ring: var(--color-blue-500);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: var(--color-grey-50);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
